apiVersion: apps/v1
kind: Deployment
metadata:
  name: ion-deployment
  labels:
    app: ion
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ion
  template:
    metadata:
      labels:
        app: ion
    spec:
      containers:
      - name: ion
        image: <docker-id>/<name-of-the-repo>:<version>
        ports:
        - containerPort: 80
